{% extends "master.html" %}

{% block content %}
<h1>The Torrents of Spring</h1>
<h3>The Torrents of Spring is a novella written by Ernest Hemingway, published in 1926. 
    Subtitled "A Romantic Novel in Honor of the Passing of a Great Race", Hemingway used the work 
    as a spoof of the world of writers. It is Hemingway's first long work and was written as a parody of 
    Sherwood Anderson's Dark Laughter.</h3>
<br>
<h1>The Sun Also Rises</h1>
<h3>is the first novel by the American writer Ernest Hemingway. It portrays American and British expatriates who travel
    from Paris to the Festival of San Fermín in Pamplona and watch the running of the bulls and the bullfights. 
    An early modernist novel, it received mixed reviews upon publication.</h3>  
<br>
<p>Back to Ernest Hemingway: <a href="/writers/Hemingway">Hemingway</a> </p>
{% endblock %}