{% extends "master.html" %}

{% block content %}
<h1>The Old Man and the Sea</h1>
<h3>is a 1952 novella by the American author Ernest Hemingway. Written between December 1950 and February 1951,
    it was the last major fictional work Hemingway published during his lifetime. It tells the story of Santiago, 
    an aging fisherman, and his long struggle to catch a giant marlin. The novella was highly anticipated and was released
    to record sales; the initial critical reception was equally positive, but attitudes have varied significantly since then.</h3>
<br>
<p>Back to Ernest Hemingway: <a href="/writers/Hemingway">Hemingway</a> </p>
{% endblock %}